/packages

/Zirpl.Metrics.MixPanel.Portable/bin

/Zirpl.Metrics.MixPanel.Portable/obj

/Zirpl.Metrics.MixPanel.Portable.Tests/bin

/Zirpl.Metrics.MixPanel.Portable.Tests/obj

/Zirpl.Metrics.MixPanel.Portable/Zirpl.Metrics.MixPanel.Portable.csproj.user

/Zirpl.Metrics.MixPanel.Web.Mvc/obj

/Zirpl.Metrics.MixPanel.Web.Mvc/bin
/Zirpl.Metrics.MixPanel.v12.suo

/Zirpl.Metrics.MixPanel.sln.DotSettings.user

/Zirpl.Metrics.MixPanel.Web.Mvc.Tests/bin

/Zirpl.Metrics.MixPanel.Web.Mvc.Tests/obj

/Zirpl.Metrics.MixPanel.Web/obj
/Zirpl.Metrics.MixPanel.Web/bin

/Zirpl.Metrics.MixPanel.Web.Tests/obj
/Zirpl.Metrics.MixPanel.Web.Tests/bin
/Zirpl.Mixpanel.sln.DotSettings.user
/Zirpl.Mixpanel.v12.suo
