/packages

/Zirpl.Metrics.MixPanel.Portable/bin

/Zirpl.Metrics.MixPanel.Portable/obj

/Zirpl.Metrics.MixPanel.Portable.Tests/bin

/Zirpl.Metrics.MixPanel.Portable.Tests/obj

/Zirpl.Metrics.MixPanel.Portable/Zirpl.Metrics.MixPanel.Portable.csproj.user
